.verifyEmail {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.successImg {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.userAvatar {
  border-radius: 5px;
}

.delete-poduct-btn{
  position: relative;
  float: right;
}

.sortTable {
  background-color: lightgray;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 6%;
}